*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
    background: #FFF2F9;
    padding: 30px;
}
/*Navigation bar styling*/
header {
    background-color: rgb(50, 50, 50);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    z-index: 1;
}
header * {
    display: inline;
}
header nav-bar > ul{
    list-style-type: none;
    display: table;
}
header nav-bar > ul li {
    display: table-cell;
    padding: 1rem;
    padding-left: 3rem;
}
header nav-bar > ul li a {
    color: #FFF2F9;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}
header nav-bar > ul li a:hover {
    color: #FA4EAB;
}
.active {
    color: #FA4EAB;
}
header nav-bar > ul > li > a:after {    
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #FA4EAB;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
header nav-bar > ul > li > a:hover::after { 
    width: 100%; 
    left: 0; 
}
header img {
    height: 80px;
}
nav-bar {
    display: flex;
    margin-left: 2%;
    
}
header .logo {
    position: relative;
}
ul.dropdown-cat {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 0.5fr));
    width: 35%;
    height: 30vh;
    margin: 0;
    padding: 0;
    overflow: auto;
}
header li#dropdown ul {
    display: none;
    background-color: #443e41;
}
header li#dropdown ul a {
    font-size: medium;
    font-weight: normal;
}
header li#dropdown:hover ul {
    display: -ms-grid;
    display: grid;
    position: absolute;
    top: 7vh;
    left: 30%;
    border: 1px solid rgb(50, 50, 50);
}
header li#dropdown ul > li {
    padding: 1rem;
    border-bottom: 1px solid #FA4EAB;
}
a.right {
    position: absolute;
    right: 0;
    top: 20%;
}
img.cart-img {
    width: 25%;
    height: auto;
    border-radius: 10%;
    transition: 0.5s ease;
}
img.cart-img:hover {
    background-color: #FA4EAB;
}
/*Main styling*/
/*main{}*/
.container {
    position: relative;
    width: 100%;
    text-align: center;
}
.main-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    /*height: 100vh;*/
    background-color: #443e41;
    border: 10px solid rgb(50, 50, 50);
    border-radius: 10px;
}
.title {
    color: #FA4EAB;
}
.title hr {
    width: 90%;
    color: #FE83C6;
    border: 3px solid;
    border-radius: 5px;
}
/*Slider settings*/
.news-container, .products-container, .info-container, .map-container {
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
}
.flx {
    display: flex;
}
.author {
    width: 50%;
}
.author img {
    object-fit: cover;
    width: 40vh;
    height: 40vh;
}
.author p {
    font-size: 2vw;
    color: #FE83C6;
}
p.us {
    width: 90%;
    margin: auto;
    font-size: large;
    text-align: left;
    color: #FFF2F9;
}
.map {
    margin:auto;
    width: 60vh;
    height: 40vh;

}
.map iframe {
    width: 60vh;
    height: 40vh;
    border: 0;
    
}
.slider-container {
    max-width: 90%;
    position: relative;
    margin: auto;
}
.sliderImg {
    display: none;
}
.fade {
    /*Para que no haya problemas con otros navegadores*/
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
.sliderImg.fade img, .sliderImg.fade video{
    object-fit: cover;
    width: 100%;
    height: 30vw;
    border-radius: 20px;
}
.text {
    background-color: rgba(68, 62, 65, 0.7);
    color: #FE83C6;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 4px;
    width: 100%;
    text-align: center;
}
.text a {
    text-decoration: none;
    color: #FE83C6;
    opacity: 1;
}

@-webkit-keyframes fade {
    from{opacity: .4;}
    to{opacity: 1;}
}
@keyframes fade {
    from{opacity: .4;}
    to{opacity: 1;}
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #FE83C6;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    /*Para que no haya problemas con otro navegador*/
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left:0;
}
.prev:hover, .next:hover {
    background-color: rgba(68, 62, 65, 0.7);
}

/*Products settings*/
.products {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-auto-rows: 1fr;
}
.products > .singlePr {
    position: relative;
    padding: 3%;
    width: 100%;
    height: fit-content;
    transition: transform .2s;
}
.products > .singlePr:hover {
    transform: scale(1.1);
}
.products > .singlePr a {
    text-decoration: none;
}
.products > .singlePr a:hover,.products .singlePr .prodText:hover, .products .singlePr p:hover {
    color: #fd6abb;
}
.products .singlePr .prodImg img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 20vw;
    border-radius: 5px;
    
}
.products .singlePr .prodText, .products .singlePr p {
    position: absolute;
    bottom: 5%;
    color: #FFF2F9;
}
.products .singlePr > p  {
    right: 10%;
}
.products .singlePr .prodText {
    padding: 3%;
    left: 5%;
    right: 5%;
    text-align: left;
    background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.05));
}
.products .singlePr > p > button {
    cursor: pointer;
    border: none;
    text-align: center;
    background-color: #FE83C6;
    background-image: url("../resources/img/shopping-cart-white.png");
    background-position: center;
    background-size: 1.8vw auto;
    background-repeat: no-repeat;
    color: #FFF2F9;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.6s ease;
}
.products .singlePr > p > button:hover {
    background-color: #fd6abb;
}
.products .singlePr .prodText .price {
    position: relative;
    color: #FA4EAB;
    font-size: 1.7vw;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.3em;
}
.products .singlePr .prodText h3 {
    margin-top: 0.5em;
    margin-bottom: 0;
}

.flex-w9 {
    display: flex;
    width: 90%;
    margin-top: 2vw;
    height: 30vw;
}
.products-container .left {
    width: 27%;
    height: auto;
    padding: 1vw;
}

.products-container .left img {
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}
.product-text {
    width: 73%;
    padding-left: 5vw;
    height: auto;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.product-text .title {
    margin-right: 1em;
    color: #FFF2F9;
    font-size: 1.5vw;
    border-bottom: 1px solid black;
}
.product-text .title h1 {
    margin-bottom: 0.2em;
    
}
.product-text .price {
    font-size: 2.5vw;
    font-weight: bold;
    color: #fd6abb;
    margin-top: 2vw;
    margin-bottom: 1vw;
}
.product-text .desc {
    width: 80%;
    height: 5vw;
    overflow: auto;
    color: #FFF2F9;
    margin-top: 1vw;
    border-left: 1px solid black;
}
.product-text .desc::-webkit-scrollbar {
    width: 0;
}
.product-text .desc p {
    margin-left: 0.5vw;
}
.product-text .genres {
    display: flex;
    margin-top: 1.5vw;
}
.product-text .genres ul {
    list-style-type: none;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.product-text .genres li {
    padding: 0.5vw;
    float: left;
    height: 2vw;
    margin: auto;
    margin-right: 1vh;
    background: #FE83C6;
    border: 2px solid #443e41;
    border-radius: 100px;
    transition: 0.3s ease;
}
.product-text .genres li a {
    color: #FFF2F9;
    text-decoration: none;
    padding: 0.5vw;
}
.product-text .genres li:hover {
    background-color: #FA4EAB;
}
.product-text .prod-btn {
    position: relative;
    margin: auto;
    margin-top: 2.5vw;
    text-align: center;
}
.product-text .prod-btn button {
    cursor: pointer;
    border: none;
    width: 80%;
    height: 3vw;
    font-size: larger;
    border-radius: 5px;
    background: #FE83C6;
    color: #FFF2F9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.6s ease;
}
.product-text .prod-btn button:hover {
    background-color: #FA4EAB;
}
/*Scrollbar settings*/
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 1px;
}
::-webkit-scrollbar-thumb { 
    background: grey;
    border-radius: 1px;
}

/*Orders.html*/
.form {
    display: flex;
    margin: auto;
    margin-bottom: 2%;
    width: 90%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.form .row {
    width: 50%;
    height: auto;
    margin: 10px;
    padding: 10px;
}
.form-price {
    padding: 12px 10px;
    margin: 8px 0;
    font-size: 1vw;
    color: #FFF2F9;
}
/*Form styling css*/
input[type=text], input[type=email], textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid #fd6abb;
    background: transparent;
    padding: 12px 10px;
    margin: 8px 0;
    color: #FFF2F9;
}
input[type=submit], input[type=reset] {
    cursor: pointer;
    width: 49%;
    padding: 12px 10px;
    margin: 1%;
    font-size: 1vw;
    color: #FFF2F9;
    background-color: #fd6abb;
    border: none;
    border-radius: 50px;
    transition: 0.3s ease;
}
input[type=submit]:hover {
    background-color: #62fa4e;
}
input[type=reset]:hover {
    background-color: rgba(224, 39, 101, 0.938);
}
textarea { resize: none; }
input[type=text]:focus, input[type=email]:focus, textarea:focus {
    outline: none;
}
input[type=radio] {
    position: absolute;
    visibility: hidden;
}
label {
    text-align: left;
    display: block;
    margin-top: 15px;
    color: #FFF2F9;
}
.radio, .btns {
    display: flex;
    margin: auto;
}
.radio label {
    cursor: pointer;
    text-align: center;
    width: 50%;
    display: inline-block;
    padding: 10px;
    border: 2px solid #fd6abb;
}
.radio label.active {
    background-color: #fd6abb;
    color: #FFF2F9;
}


/*News.html*/
.news {
    margin-left: 10%;
    font-size: larger;
    color: #FA4EAB;
    text-align: left;
}
.grid {
    display: -ms-grid;
    display: grid;
    /*El VSCode dice que es un error*/
    grid-template-columns: repeat(3, minmax(0, 1fr));
}
article {
    /*display: inline-block;*/
    position: relative;
    width: 20vw;
    height: 20vw;
    margin: 1%;
    margin-bottom: 5%;
    border-radius: 5px;
}
article a {text-decoration: none;}
article img {
    object-fit: cover;
    width: 20vw;
    height: 20vw;
    border-radius: 5px;
}
.news-title {
    width: 100%;
    height: 20vw;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    background-size: 100% 200%;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: #FFF2F9;
    font-size: 2vw;
    font-weight: bold;
    padding: 15vh 0;
    border-radius: 5px;
    transition: 0.6s ease-out;
}
.news-title:hover {
    /*background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));*/
    color: #fd6abb;
    background-position: 200%;
}

/*newsN.html*/
.news-main {
    width: 90%;
    height: auto;
    margin: auto;
    padding: 1%;

}
.title-img {
    width: 100%;
    height: 15vw;
}
.title-img img {
    object-fit: cover;
    width: 100%;
    height: 15vw;
    opacity: 0.5;
    border-radius: 5px;
}
.title-img .title-text {
    width: 98%;
    position: absolute;
    left: 1%;
    right: 0;
    top: 10vw;
    color: #FFF2F9;
    font-size: 3vw;
    font-weight: bold;
}
.news-body {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 2%;
}
.news-body-left {
    width: 75%;
    height: auto;
    padding: 1%;
    padding-top: 3%;
}
.news-body-right {
    width: 25%;
    height: auto;
    padding: 1%;
    padding-top: 3%;
    border-left: 2px solid #FA4EAB;
}
.subtitle {
    margin-bottom: 5%;
    font-size: 2vw;
    color: #FFF2F9;
}
p.content {
    height: auto;
    text-align: left;
    padding-left: 1%;
    border-left: 3px solid black;
    font-size: 1.3vw;
    color: #FFF2F9;
}
ol {
    height: auto;
    text-align: left;
    border-left: 3px solid black;
    font-size: 1.3vw;
    color: #FFF2F9;
}
.news-body-left img {
    width: 100%;
    height: auto;
    padding: 1%;
}
#news1-img1, #news2-img1 {
    width: 50%;
}
.imgs {
    display: flex;
}
.imgs img {
    width: 33.33%;
    height: auto;
}
.news-mini {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.news-mini a img {
    object-fit: cover;
    width: 100%;
    height: 10vw;
}
#news4 {
    font-size: 2.5vw;
}
/*.ã®{easter-egg=true}*/
#news5 {
    font-size: 2.3vw;
}

/*cart.html*/
.cart-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    width: 90%;
    height: auto;
}

.cart-ul {
    list-style-type: none;
    width: 70%;
    padding: 0;
    margin: 0;
    margin-right: 5%;
    box-shadow: 0px 0px 10px 0px black;
}
.bar {
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    border-bottom: 2px solid black;
}
.removeBtn {
    width: 10vh;
    height: 10vh;
    float: right!important;
    margin: 2rem;
    font-size: 3vw;
    font-weight: 800;
    border-radius: 50%;
    border: none;
    color: #FFF2F9;
    background-color: #443e41;
    box-shadow: 0px 0px 3px 0px black;
    transition: 0.5s ease-out;
}
.removeBtn:hover {
    background-color: rgba(224, 39, 101, 0.938);
}
ul.cart-ul > li > h3 {
    color: #FE83C6;
}
ul.cart-ul > li > img {
    width: 10%;
    float: left;
    vertical-align: middle;
}
.bar-item {
    display: inline-block;
    max-width: 50%;
    overflow: hidden;
    outline: 0;
    font-size: 2vw;
    color: #FFF2F9;
}
.p1rem {
    padding: 1rem;
    margin: 2rem;
}
span.price {
    float: right;
    color: #fd6abb;
}
.ticket {
    position: relative;
    width: 25%;
    height: 20vw;
    float: right;
    box-shadow: 0px 0px 10px 0px black;
}
.ticket .title {
    margin-left: 1vh;
    margin-right: 1vh;
    border-bottom: 1px solid #fd6abb;
}
.ticket-prices {
    width: 100%;
    height: 10vw;
    font-size: 1.2vw;
    overflow: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid black;
}
.ticket-prices ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20%;
    padding-bottom: 2rem;
    color: #FFF2F9;

}
.ticket-prices ul > li {
    margin-bottom: 2%;
}
#total {
    position: absolute;
    right: 0;
    bottom: 10%;
    left: 0;
    padding-left: 2rem;
    color: #FFF2F9;
    font-size: 2vw;
}